.post-container{
    display: flex;
    flex-wrap: wrap;
}
.post{
width: 25%;
margin: 20px;
padding: 20px;
background-color: #383c58;
border-radius: 1rem;
}
.title{
    text-align: center;
    padding: 1.4rem;
}